// BACKGROUND COLOR

.col-bg-opaque {
	background-color: transparent;
}
.col-bg-000 {
	background-color: var(--color_primany_000);
}
.col-bg-001 {
	background-color: var(--color_primany_001);
}
.col-bg-002 {
	background-color: var(--color_primany_002);
}
.col-bg-003 {
	background-color: var(--color_primany_003);
}
.col-bg-004 {
	background-color: var(--color_primany_004);
}
.col-bg-005 {
	background-color: var(--color_primany_005);
}
.col-bg-006 {
	background-color: var(--color_primany_006);
}

// COLOR

.col-000 {
	color: var(--color_primany_013);
}
.col-001 {
	color: var(--color_primany_001);
}
.col-002 {
	color: var(--color_primany_002);
}
.col-003 {
	color: var(--color_primany_003);
}
.col-004 {
	color: var(--color_primany_004);
}
.col-005 {
	color: var(--color_primany_005);
}
.col-006 {
	color: var(--color_primany_006);
}