.inputLike,
input:not([type="checkbox"], [type="date"]),
textarea {
	resize: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	gap: 20px;
	min-height: 51px;
	border-radius: 6px;
	border: unset;
	box-sizing: border-box;

	font-family: "OpenSans", system-ui;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color_primany_000);
	background-color: var(--color_primany_001);
	color: var(--color_primany_002);

	&:autofill {
		-webkit-text-fill-color: var(--color_primany_002);
		-webkit-box-shadow: 0 0 0px 1000px var(--color_primany_000) inset;
		transition: background-color infinite ease-in-out 0s;
	}

	&::placeholder {
		color: var(--color_primany_004);
	}

	&:focus,
	&:hover {
		cursor: text;
		outline-style: solid;
		outline-width: 1px;
		outline-color: var(--color_primany_003);
		background-color: var(--color_primany_001);
	}
}