a {
	&.noStyle {
		color: var(--color_primany_000);
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: var(--color_primany_000) !important;
		}
	}
	
	text-decoration: none;
	color: var(--color_primany_001);

	&:hover {
		text-decoration: unset;
		color: var(--color_primany_003) !important;
	}

	&.noLine {
		text-decoration: none;
		&.onlyOnHover {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.forcePointer {
		&:hover {
			cursor: pointer;
		}
	}
}
