@media (max-width: 1540px) {
	.adapt-container-31717 {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (min-width: 700px) {
	.breakpoint-phone {
		display: none;
	}
}

@media (max-width: 700px) {
	.breakpoint-pc {
		display: none;
	}
	.cropOnMobile {
		overflow: hidden;
	}
}